body {
    background-color: black;
}

* {
    padding: 0;
    margin: 0 auto;
}

.wrapper {
    height: 700px;
    width: 1000px;
    background-color: white;
}

.header {
    height: 15%;
    width: 100%;
    background-color: #294e79;
}

.logo {
    height: 100px;
    float: left;
}

.chulogo {
    float: left;
    font-size: 30px;
    color: white;
    font-family: 'Schotis Text';
    margin-top: 30px;
}

.chude {
    position: absolute;
    transform: translateX(70px);
    padding-top: 38px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

.menu {
    float: right;
    margin: 10px;
    margin-top: 60px;
    padding: 10px;
    background-color: #3d73b1;
    border: 0;
    color: white;
}

.timkiem {
    background-color: #1c3451;
    right: 0;
    margin-right: 120px;
    margin-top: 10px;
    position: absolute;
    color: white;
    border: 1px solid #356194;
    width: 250px;
    transform: translateX(-420px);
}

.button1 {
    float: right;
    transform: translateX(460px);
    margin-top: 10px;
    background-color: #1c3451;
    color: white;
    border: 1px solid #356194;
}

.content {
    height: 80%;
    width: 100%;
}

hr {
    border: none;
    border-top: 1px dotted black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.section {
    height: 100%;
    width: 60%;
    float: left;
}

.aside {
    height: 100%;
    width: 39%;
    float: left;
    margin-top: 40px;
}

.footer {
    height: 5%;
    width: 100%;
    background-color: #1c3451;
}